#editorjs {
  .cdx-quote__caption {
    display: none;
  }

  .cdx-quote__text {
    margin-bottom: 0;
  }

  .ce-delimiter:before {
    display: none;
  }

  .ce-delimiter {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  .cdx-marker {
    background: rgba(245, 235, 111, 0.4);
  }

  .ce-toolbox__button[data-tool='linkTool'] {
    display: none;
  }

  .tc-table__area {
    padding: 0;
  }

  .ce-block__content,
  .ce-toolbar__content {
    max-width: none;
  }

  .ce-block__content p {
    margin-bottom: 10px;
  }

  .cdx-block {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.75;
    word-break: break-word;
  }

  .ce-paragraph {
    margin-bottom: 10px;
    color: #1f2329;
  }

  .ce-paragraph[data-placeholder]:empty::before {
    color: #aaa;
  }

  .cdx-quote {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .ce-toolbar__settings-btn {
    width: 24px;
    height: 24px;
    border-radius: 5px;
  }

  .tc-table {
    margin-bottom: 0;
  }

  .tc-table__wrap {
    margin-bottom: 16px;
  }

  .codex-editor__redactor {
    margin: 0 !important;
  }

  .codex-editor--narrow .ce-toolbar__plus {
    left: -36px !important;
  }

  .codex-editor--narrow .ce-toolbar__actions {
    right: -29px !important;
  }
}

.ct--bottom {
  display: none !important;
}
