/************************************** BODY STYLES **************************************/
body {
  font-family: Nunito Sans, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
  background-color: #fff;
}

/************************************** BUTTON STYLES **************************************/
div,
button {
  outline: none !important;
}

/************************************** ANCHOR STYLES **************************************/
a {
  outline: none !important;
}

/************************************** OL, UL STYLES **************************************/
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root:not(.MuiSelect-icon) {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: #96c02d !important;
  }
}

.MuiTab-textColorInherit {
  color: #888888 !important;
}

.MuiTab-textColorInherit.Mui-selected {
  color: #000 !important;
}

.MuiTabs-indicator {
  background: #000 !important;
}

.MuiTab-root {
  overflow: visible !important;
}

.MuiTabs-root {
  min-height: auto !important;
  border-bottom: 1px solid #ececec;
}

.MuiTabs-root .MuiTabs-indicator {
  height: 3px;
}

.MuiTabs-root .MuiTab-root {
  min-width: 0;
  max-width: 100%;
  font-size: 14px;
  min-height: 0;
  margin-right: 30px;
  height: 40px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  background: none !important;
}

.MuiTabs-root .MuiTab-textColorInherit.Mui-selected {
  font-weight: bold;
}

/************************************** INPUT STYLES **************************************/
.MuiTextField-root {

  label,
  input,
  textarea {
    font-size: 14px !important;
  }

  div::after {
    border-bottom: #888;

    &:hover {
      border-bottom: #888;
    }
  }

  // fieldset {
  //   border-color: rgba(0, 0, 0, 0.1) !important;
  // }

  .MuiOutlinedInput-input {
    padding: 12px;
  }

  .Mui-focused fieldset {
    // border-color: #7f9cf5 !important;
  }

  .MuiOutlinedInput-multiline {
    padding: 0 !important;
  }
}

.MuiFormLabel-root.Mui-focused {
  // color: #7f9cf5 !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before,
.MuiInput-underline:after {
  // border-bottom-color: #7f9cf5 !important;
}

// .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
//   border-color: #666 !important;
// }

.MuiTextField-root.rounded fieldset {
  border-radius: 100px;
}

.MuiFormHelperText-contained {
  margin-right: 0 !important;
  color: #afafaf !important;
}

.MuiCheckbox-colorPrimary {
  color: #999 !important;
  &.Mui-checked {
    color: #000 !important;
  }
}


/************************************** MODAL STYLES **************************************/
.MuiPaper-rounded {
  border-radius: 12px !important;
}

/************************************** SWITCH STYLES **************************************/
.MuiSwitch-colorPrimary.Mui-checked {
  // color: #7f9cf5 !important;
  & + .MuiSwitch-track {
    // background-color: #7f9cf5 !important;
  }
}

/************************************** TOOLTIP STYLES **************************************/
.MuiTooltip-tooltip {
  font-size: 12px !important;
  font-family: inherit !important;
}
.no-style .MuiTooltip-tooltip {
  background: none;
  padding: 0;
  margin: 0;
}

/************************************** TAB HIGHLIGHT STYLES **************************************/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/************************************** SCROLL BAR STYLES **************************************/
.overflow-y-auto, body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.overflow-y-auto::-webkit-scrollbar, body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
  display: none;  /* Safari and Chrome */
  background: transparent;
}

/************************************** MENU **************************************/
.MuiMenuItem-root {
  font-size: 14px !important;
  min-height: auto;
}

/************************************** PAGINATION **************************************/
.MuiPaginationItem-page {
  // color: #888888 !important;

  // &.Mui-selected,
  // &.Mui-selected:hover {
  //   background: #7f9cf5 !important;
  //   color: #fff !important;
  //   border-color: #7f9cf5;
  // }

  // &:hover {
  //   background: none !important;
  //   color: #7f9cf5 !important;
  //   border-color: #7f9cf5 ;
  // }
}

/************************************** TABLE **************************************/
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.MuiTableCell-root {
  border: none !important;
  .MuiCheckbox-root {
    padding: 0 !important;
  }
}
.MuiTableBody-root .MuiTableRow-root:nth-child(2n),
.MuiTableRow-head {
  background-color: rgb(246, 246, 255) !important;
}
.MuiTableBody-root .MuiTableRow-root.active-hover:hover {
  background-color: #E0E7FF !important;
}
.MuiTableCell-body {
  color: #4a4a4a !important;
}
.MuiTableCell-head {
  // color: #818cf8 !important;
}
.MuiTableCell-root {
  padding: 15px 16px !important;
}
.MuiTableCell-head {
  padding: 6px 16px !important;
  font-size: 12px !important;
}

/************************************** BADGE STYLES **************************************/
// .MuiBadge-badge {
//   color: #fff;
//   background-color: #7f9cf5;
// }

/************************************** MARKDOWN STYLES **************************************/
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 50%;
  }
}

.a { color: #ddd; }
